.center {
    margin-top:20%; 
    margin-right:20%;
  }

  .title {
    text-align: center
  }

  .edit-button {
      background-color: #7386D5;
      border-color: #7386D5;
  }

  .center-table {
    float: right;
  }

  .resize-knight-list {
    width: 70px;
    height: auto;
}

.resize-knight-list {
    width: 30px;
    height: auto;
}

  .resize {
    width: 200px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}